{% load static %}
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                            <script> $(document).ready(function($) {
                                var $te = jQuery.noConflict();
                                $te('[data-toggle="tooltip"]').tooltip({html:true});});</script>
<fieldset class="module aligned wide {{ fieldset.classes }}" style="border: 0px;">
 <div class="datosCATALOGOS">
  <div id="tituloCUADROS">DATOS GENERALES</div>
   <p>&nbsp;</p><p>&nbsp;</p>
  {% for line in fieldset %}
  {% for field in line %}
      {% if field.field.name == "nombre_medio" %}

        <div class="row field-nombre_medio rowmod" style="border-bottom: 15px; padding-bottom: 10px;">
            <div class="col-md-6 colmod" align="left"><label id="label-fld" for="id_nombre_medio">
                <span class="error__msg">*</span>
                Nombre del Medio:</label></div>

            <div class="col-md-6 colmod"><input class="vTextField{% if field.field.errors %} border-error" data-toggle="tooltip" data-placement="top"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}"{% endif %} id="id_nombre_medio" maxlength="200" name="nombre_medio" type="text"
                                value="{{ field.field.value|default_if_none:"" }}"/>
            </div>
            </div>
        {% endif %}

  {% endfor %}
   {% endfor %}
        </div>
</fieldset>


