

/* CHANGELISTS */

#changelist {
    position: relative;
    width: 1%;
}

#changelist table {
    width: 99%;
}

.change-list .hiddenfields { display:none; }

.change-list .filtered table {
    border: 1px solid #6A6B6C;

}

.change-list .filtered {
    min-height: 400px;
}

.change-list .filtered {
    background: transparent !important;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 160px !important;
    width: auto !important;
}

.change-list .filtered table tbody th {
    border-bottom: 1px;
  border-top: 1px;
    border-right: 1px;
  border-left: 1px;
  padding: 4px;
  border-color: #6A6B6C;
}

#changelist-form .results {
  overflow-x: auto;
}

#changelist .toplinks {
    border-bottom: 1px solid #6A6B6C !important;
}

#changelist .paginator {
    color: #666;
    border-top: 0px solid #696969;
    /*border-bottom: 1px solid #eee;
    background: white url(../img/nav-bg.gif) 0 180% repeat-x;*/
    overflow: hidden;
    height: 22px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.change-list .filtered .paginator {
    border-right: 0px solid #ddd;
}

/* CHANGELIST TABLES */

#changelist table thead th {
    padding: 4px;
    white-space: nowrap;
    vertical-align: middle;

}

#changelist table thead th.action-checkbox-column {
    width: 1.5em;
    text-align: center;

}

#changelist table tbody td, #changelist table tbody th {
    border-right:  1px solid #6A6B6C;
    border-left: 1px solid #6A6B6C;
    border-bottom: 1px solid #6A6B6C;
  border-top: 1px solid #6A6B6C;
  padding: 4px;

}

#changelist table tbody td:first-child, #changelist table tbody th:first-child {
    border-left: 1px solid #6A6B6C;
    border-right: 1px solid #6A6B6C;
}

#changelist table tbody td.action-checkbox {
    text-align:center;
    width: 10px;

}

#changelist table tfoot {
    color: #666;
}

/* TOOLBAR */

#changelist #toolbar {
    padding: 3px;
    border-bottom: 1px solid #ddd;
    background: #e1e1e1 ;
    color: #666;
}

#changelist #toolbar form input {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding: 2px 4px;
}

#changelist #toolbar form #searchbar {
    padding: 2px;
}

#changelist #changelist-search img {
    vertical-align: middle;
}

/* FILTER COLUMN */

#changelist-filter {
    position: absolute;
    top: 63px;
    left: 907px;
    z-index: 1000;
    width: 110px;
    border-left: 1px solid #ddd;
    background: #e4e5e6;
    margin: 0;
    overflow: auto;
    height: 430px;
    font-family: Verdana, Geneva, sans-serif;
}

#changelist-filter h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    padding: 2px 2px;
    border-bottom: 1px solid #808080;
    margin-top: 2px;
}

#changelist-filter h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin-bottom: 0;
    font-style: italic;
    margin-top: 2px;
}

#changelist-filter ul {
    padding-left: 0;
    margin-left: 10px;
}

#changelist-filter li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#changelist-filter a {
    color: #ACADB0;
    margin-top: 2px;
    font-size: 10px;
}

#changelist-filter a:hover {
    color: #999;
}

#changelist-filter li.selected {
    border-left: 5px solid #ccc;
    padding-left: 5px;
    margin-left: -10px;
}

#changelist-filter li.selected a {
    color: #6A6B79 !important;
}

/* DATE DRILLDOWN */

.change-list ul.toplinks {
    display: block;
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
    border-top: 1px solid white;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.change-list ul.toplinks li {
    font-family: Verdana, Geneva, sans-serif;
    padding: 3px 6px;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}

.change-list ul.toplinks .date-back a {
    color: #999;
}

.change-list ul.toplinks .date-back a:hover {
    color: #999;
}

/* PAGINATOR */

.paginator {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 22px;
    margin: 0;
    border-top: 1px solid #ddd;
}

.paginator a:link, .paginator a:visited {
    padding: 2px 6px;
    border: solid 1px #ccc;
    background: white;
    text-decoration: none;
}

.paginator a.showall {
    padding: 0 !important;
    border: none !important;
}

.paginator a.showall:hover {
    color: #036 !important;
    background: transparent !important;
}

.paginator .end {
    border-width: 2px !important;
    margin-right: 6px;
}

.paginator .this-page {
font-family: Verdana, Geneva, sans-serif;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 12px;
    vertical-align: top;
}

.paginator a:hover {
    color: white;
    background: #999;
    border-color: #666;
}

/* ACTIONS */

.filtered .actions {
    margin-right: 160px !important;
    border-right: 1px solid #ddd;
}

#changelist table input {
    margin: 0;
}

#changelist table tbody tr.selected {
    color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#changelist .actions {
    color: #333;
    padding: 3px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
}

#changelist .actions.selected {
    background: #fffccf;
    border-top: 1px solid #fffee8;
    border-bottom: 1px solid #edecd6;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin: 0 0.5em;
    display: none;
}

#changelist .actions:last-child {
    border-bottom: none;
}

#changelist .actions select {
    border: 1px solid #aaa;
    margin-left: 0.5em;
    padding: 1px 2px;
}

#changelist .actions label {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin-left: 0.5em;
}

#changelist #action-toggle {
    display: none;
}

#changelist .actions .button {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    padding: 1px 2px;
}
