
select{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    line-height: initial;
    height: 17px;
    width: 90%;
     background: #fff url("arrowdown.gif") no-repeat 90% center;
}






