{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link href="{% static "assets/bootstrap/css/bootstrap-datepicker3.min.css"%}" rel="stylesheet">
<script type="text/javascript" src="{% static "assets/js/ajax-dep-cargo-nom.js"%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/ajax-movimientos.js' %}"></script>
     <script type="text/javascript" src="{% static 'assets/js/ajax-estados-municipios.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.file-input.js' %}"></script>
{{ media }}
 <script type="text/javascript">
(
        function($) {

            function $_GET(param) {
                /* Obtener la url completa */
                url = document.URL;
                /* Buscar a partir del signo de interrogación ? */
                url = String(url.match(/\?+.+/));
                /* limpiar la cadena quitándole el signo ? */
                url = url.replace("?", "");
                /* Crear un array con parametro=valor */
                url = url.split("&");
                 /*
                Recorrer el array url
                obtener el valor y dividirlo en dos partes a través del signo =
                0 = parametro
                1 = valor
                Si el parámetro existe devolver su valor
                */
                x = 0;
                while (x < url.length)
                {
                    p = url[x].split("=");
                     if (p[0] == param)
                     {
                         return decodeURIComponent(p[1]);
                      }
                    x++;
                }

            }

    $(document).ready(function($) {
        if ($_GET("m") == 1 || (window.location.href).search('add') < 0) {
            $("#walta").hide();
            $("#wmod").show();
            $(".historialBTN").show();
            $("#buscar").show();
            $("#buscarICO").show();
        }
        else {
            $("#walta").show();
            $("#wmod").hide();
            $(".historialBTN").hide();
            $("#buscar").hide();
            $("#buscarICO").hide();
        }
    });
    })(django.jQuery);
 </script>
{%endblock %}

{% block extrastyle %}{{block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/estilos.css" %}" />
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<div id = "regresarBTN" onclick="window.history.go(-1);">
  </div>
</div>
{% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        <div id="welcome">
            <span id="walta" hidden="true">Alta de Visita de Funcionario</span>

            <span id="wmod" hidden="true">Modificación de Visita de Funcionario</span>

        </div>
<div id="buscar" hidden="true">
        <input type="hidden" id="tok" value="{% csrf_token %}">
        <input class="buscar" type="text" name="idvisita" value="" id="idvisita">
  	  </div>
    <div id="buscarICO" hidden="true">
      </div>
    <div class="historialBTN" id="historialBTN" hidden="true">
      </div>
<div class="imprimirBTN" id="imprimirBTN">
      </div>
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}

    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}


     <img id="imgerr-errornote" src="{% static "assets/imagenes/iconoExclamacion.gif" %}" data-toggle="tooltip" data-placement="left"  width="13px" height="13px">
        <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
        <script> $(document).ready(function($) {
        var $te = jQuery.noConflict();
        $te('#imgerr-errornote').tooltip({html:true});});</script>
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/visitas_stg/visita/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
    <div id="alta02" style="overflow: scroll;">
        <div class="tituloTABLA">Actividades</div>
  {% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
    </div>
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}


                <div class="salirVBTN" onclick="window.history.go(-1);"></div>
                <div class="guardarVBTN" onclick="document.getElementById('visita_form').submit('_save');"></div>




{% endblock %}

{% if adminform and add %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            });

            var $infl=jQuery.noConflict();
    $infl('input[type=file]').bootstrapFileInput();
    $infl('.file-inputs').bootstrapFileInput();

        })(django.jQuery);
    </script>
{% endif %}

{% block admin_change_form_document_ready %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap-datepicker.js"%}"></script>

    <script type="text/javascript">
                        var $dp = jQuery.noConflict();
                        $dp('#id_fecha_visita').datepicker({
                            autoclose: true
                        });
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
