{% load  admin_static app_filters%}

{% for line in fieldset %}
     {% for field in line %}
         {% if field.field.name == "identificador_unico" %}
             <div id="alta01">
                 <table width="1008px" border="0px">
                    <tr valign="top">
                        <td width="252px">
                            <fieldset class="module ">
                                <table width="252px" border="0px" >
                                    <tr>
                                        <td class="tituloTABLA" colspan="2">
                                            Información General
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="contenidoTABLA" width="147px">
                                              {% if change %}
                                                  No. de Control Interno:<input type="hidden" id="idvisitaUNICO" value="{% if field.contents  != "(Nada)"  %} {{ field.contents }}{% endif %}">
                                              {% else %}
                                                 &nbsp;
                                              {% endif %}
                                        </td>
                                        <td width="105px">
                                              {% if change %}
                                                  {% if field.contents  != "(Nada)"  %} {{ field.contents }}{% endif %}<label id="id_identificador_unico" name="identificador_unico" >{{ field.field.value|default_if_none:"" }}</label>
                                            {% else %}
                                                 &nbsp;
                                             {% endif %}
                                        </td>
                                    </tr>
         {% endif %}
         {% if field.field.name == "dependencia" %}
                                <tr>
                                    <td width="147px">
                                         <label class="contenidoTABLA" for="id_dependencia">Dependencia:</label>
                                    </td>
                                    <td width="105px">
                                         {{ field.field }}
                                       </td>
                                </tr>

         {% endif %}
         {% if field.field.name == "fecha_visita" %}
                                <tr class="form-row field-fecha_visita">
                                    <td width="147px">
                                        <label class="contenidoTABLA" for="id_fecha_visita">Fecha de Visita:</label>
                                    </td>
                                    <td width="105px">
                                         {{ field.field|addcss:"form-control2"}}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
         {% endif %}
         {% if field.field.name == "region" %}
                    <td width="252px">
                          <fieldset class="module">
                            <table width="252px" border="0px">
                                <tr>
                                    <td class="tituloTABLA" colspan="2">Ubicación</td>
                                </tr>
                                <tr class="field-id_region">
                                    <td width="126px">
                                         <label class="contenidoTABLA" for="id_region">Región:</label>
                                    </td>
                                    <td width="126px">
                                         {{ field.field }}
                                    </td>
                                </tr>

         {% endif %}
         {% if field.field.name == "entidad" %}
                                <tr class="field-entidad">
                                    <td width="126px">
                                        <label class="contenidoTABLA" for="id_entidad">	Entidad Federativa:</label>
                                    </td>
                                    <td width="126px">
                                         {{ field.field }}
                                    </td>
                                </tr>
         {% endif %}
         {% if field.field.name == "municipio" %}

                                <tr class="field-municipio">
                                    <td width="126px">
                                        <label class="contenidoTABLA" for="id_municipio">Municipio:</label>
                                    </td>
                                    <td width="126px">
                                        {{ field.field }}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                 </td>
         {% endif %}
         {% if field.field.name == "distrito_electoral" %}
                 <td width="252px">
                        <fieldset class="module">
                            <table width="252px" border="0px">
                                <tr>
                                    <td class="tituloTABLA" colspan="2">Información Adicional</td>
                                </tr>
                                <tr class="field-distrito_electoral">
                                    <td width="140px">
                                        <label class="contenidoTABLA" for="id_distrito_electoral" style="width: auto;">	No. de dtro. electoral:<label>
                                    </td>
                                    <td width="112px">
                                        {{ field.field }}
                                    </td>
                                </tr>
         {% endif %}
         {% if field.field.name == "partido_gobernante" %}
                                <tr class="field-partido_gobernante">
                                    <td width="140px">
                                        <label class="contenidoTABLA" for="id_partido_gobernante">Partido Gobernante:</label>
                                    </td>
                                    <td width="112px">
                                        {{ field.field }}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="140px">&nbsp;</td>
                                    <td width="112px">&nbsp;</td>
                                </tr>
                            </table>
                     </fieldset>
                 </td>
         {% endif %}
         {% if field.field.name == "cargo" %}
                 <td width="252px">
                        <fieldset class="module">
                            <table width="252px" border="0px">
                                <tr>
                                    <td colspan="2" class="tituloTABLA" colspan="2">Funcionario</td>
                                </tr>
                                <tr class="field-cargo" align="center">
                                    <td width="70px" align="left">
                                        <label class="contenidoTABLA" for="id_cargo" style="width: auto;">Cargo:</label>
                                    </td>
                                    <td width="182px" align="left">
                                        {{ field.field }}
                                    </td>
                                </tr>
                            {% if not change %}
                                <tr>
                                    <td width="70px">
                                         <label class="contenidoTABLA" for="id_nombre_funcionario" style="width: auto;">Nombre:</label>
                                    </td>
                                     <td width="182px">

                                         <input type="text" id="id_nombre_funcionario" name="nombre_funcionario" disabled value="{{ field.field.value|default_if_none:"" }}">
                                    </td>
                                </tr>


                                <tr>
                                    <td  width="70px">
                                       &nbsp;

                                    </td>
                                    <td  width="182px">
                                       &nbsp;

                                    </td>
                                </tr>
                            </table>

                        </fieldset>
                 </td>
            </tr>
         </table>
                            {% endif %}
         {% endif %}

          {% if field.field.name == "nombre_funcionario" %}
               <tr>
                                    <td width="70px">
                                         <label class="contenidoTABLA" for="id_nombre_funcionario" style="width: auto;">Nombre:</label>
                                    </td>
                                     <td width="182px">
                                           {% if change %}
                                                 <input style="width:87%; "type="text" disabled id="id_nombre_funcionario" name="nombre_funcionario" value="{{ field.field.value|default_if_none:"" }}">
                                            {% else %}
                                                 &nbsp;
                                             {% endif %}
                                    </td>
                                </tr>


                                <tr>
                                    <td  width="70px">
                                       &nbsp;

                                    </td>
                                    <td  width="182px">
                                       &nbsp;

                                    </td>
                                </tr>
                            </table>

                        </fieldset>
                 </td>
            </tr>
         </table>
         {% endif %}

      {% endfor%}
    {% endfor %}
</div>