{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls admin_static %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
     <link href="{% static "assets/css/formas.css" %}" rel="stylesheet">

{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
       <div id="regresarBTN" onclick="location.href='/admin/visitas_stg/tipoactividad/?e=1'">
   </div>

<div id="welcome">
        Confirmación Eliminar un Tipo de Actividad
  </div>

  <div class="bienvenida">

{% if perms_lacking or protected %}
    {% if perms_lacking %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if protected %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in protected %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <p>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>

    </div>
    <div class="campos01">
    {% for deletable_object in deletable_objects %}
        <ul>{{ deletable_object|unordered_list }}</ul>
    {% endfor %}
    <form action="" method="post">{% csrf_token %}
    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    </div>
     </div>
    <input type="hidden" name="action" value="delete_selected" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" class="eliminarBTN" value="" />
     <div class="salirBTN" onclick="location.href='/obras/c_clasificacion'" style="left: 630px;"></div>

    </form>
{% endif %}

{% endblock %}
