{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters%}
{% block extrastyle %}{{ block.super }}
    <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                            <script> $(document).ready(function($) {
                                var $te = jQuery.noConflict();
                                $te('[data-toggle="tooltip"]').tooltip({html:true});});</script>
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
      <div id= "regresarBTN" onclick="window.history.go(-1);">
        </div>
   <div class="recuperarCon">
        	<p class="tituloRC">
            Recuperar Contraseña
            </p>
            Para recuperar la Contraseña, es necesario escribir el Correo Electrónico con el que se hizo el Registro del Usuario, a esa dirección electrónica enviaremos el instructivo.
            <p><br>
            </p>


            <form action="" method="post" id="reset-form">{% csrf_token %}
                   <table width="100%">
                      <tr>
                       <td width="20%">
                           <label for="id_email"><span class="error__msg">*</span> E-mail:</label>
                       </td>
                        <td width="80%" {% if form.email.errors %} data-toggle="tooltip" data-placement="top"  title="{% for error in form.email.errors %}{{ error }}{% endfor %}"{% endif %}>
                            {% if form.email.errors %}
                                                {{ form.email|addcss:"emailrc border-error" }}
                                            {% else %}
                                                {{ form.email|addcss:"emailrc"}}
                                            {% endif %}
                        </td>
                    </tr>
                    </table>
                <div class="botENVIAR" onclick="document.getElementById('reset-form').submit();"></div>
            </form>


   </div>




{% endblock %}
