{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters%}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />
     <link href="{% static "css/login.css"%}" rel="stylesheet">
    <link href="{% static "assets/css/estilos.css"%}" rel="stylesheet">
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                            <script> $(document).ready(function($) {
                                var $te = jQuery.noConflict();
                                $te('[data-toggle="tooltip"]').tooltip({html:true});});</script>
{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
<div id= "regresarBTN" onclick="window.history.go(-1);">
        </div>
    <p>&nbsp;</p>
     <p>&nbsp;</p>

    <p class="tituloCC">
            Cambiar Contraseña
            </p>

<div class="recuperarCon">
<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="error__msg">
    {% if form.errors.items|length == 1 %}{% endif %}
    </p>
{% endif %}



<fieldset class="module aligned wide">
<div class="row" style="font-size: 15px; font-family: Verdana, Geneva, sans-serif">
   {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
</div>
    <br>
<div class="row" style="padding-top:5px;">
<table width="100%">
  <tr>
   <td width="40%">
       <label for="id_old_password" class="required"><span class="error__msg">*</span>{% trans 'Old password' %}:</label>
   </td>
    <td width="60%" {% if form.old_password.errors %} data-toggle="tooltip" data-placement="top"  title="{% for error in form.old_password.errors %}{{ error }}{% endfor %}"{% endif %}>
        {% if form.old_password.errors %}
                            {{ form.old_password|addcss:"cambcc border-error" }}
                        {% else %}
                            {{ form.old_password|addcss:"cambcc"}}
                        {% endif %}
    </td>
</tr>
</table>
</div>

<div  class="row" style="padding-top:5px;">
      <table width="100%">
  <tr>
   <td width="40%">
       <label for="id_new_password1" class="required"><span class="error__msg">*</span>{% trans 'New password' %}:</label>
   </td>
    <td width="60%" {% if form.new_password1.errors %} data-toggle="tooltip" data-placement="top"  title="{% for error in form.new_password1.errors %}{{ error }}{% endfor %}"{% endif %}>
        {% if form.new_password1.errors %}
                            {{ form.new_password1|addcss:"cambcc border-error" }}
                        {% else %}
                            {{ form.new_password1|addcss:"cambcc"}}
                        {% endif %}
    </td>
</tr>
</table>

</div>

<div class="row" style="padding-top:5px;">
    <table width="100%">
  <tr>
   <td width="40%">
       <label for="id_new_password2" class="required"><span class="error__msg">*</span>{% trans 'Password (again)' %}:</label>
   </td>
    <td width="60%" {% if form.new_password2.errors %} data-toggle="tooltip" data-placement="top"  title="{% for error in form.new_password2.errors %}{{ error }}{% endfor %}"{% endif %}>
        {% if form.new_password2.errors %}
                            {{ form.new_password2|addcss:"cambcc border-error" }}
                        {% else %}
                            {{ form.new_password2|addcss:"cambcc"}}
                        {% endif %}
    </td>
</tr>
</table>
</div>

</fieldset>
<br>
    <input type="submit" value="" class="botCAMBIAR2" />
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}

