{% extends "admin/base_site.html" %}
{% load i18n admin_static%}
{% block extrastyle %}{{ block.super }}
    <link href="{% static "css/login.css"%}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
 <div id= "regresarBTN" onclick="window.history.go(-1);">
        </div>
    <p>&nbsp;</p>
    <p class="titulo">
            Recuperar Contraseña
            </p>
{% if validlink %}


    	<div class="recuperarCon">

            Tu nueva contraseña debe tener por lo menos 8 caracteres y no incluir espacios en blanco o caracteres especiales.
            <p>
            </p>
            <form action="" method="post">{% csrf_token %}

                <p class="aligned wide"><label for="id_new_password1">* Contraseña nueva:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.new_password1 }}
                    {% if form.new_password1.errors%}
                             <img id="imgerr-id_new_password1" data-toggle="tooltip" data-placement="right"  title="{% for error in form.new_password1.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                            <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                            <script> $(document).ready(function($) {
                                var $te = jQuery.noConflict();
                                $te('#imgerr-id_new_password1').tooltip({html:true});});</script>
                    {% endif %}
                </p>

                <p class="aligned wide"><label for="id_new_password2">* Confirmar Contraseña:</label>{{ form.new_password2 }}
                  {% if form.new_password2.errors%}
                             <img id="imgerr-id_new_password2" data-toggle="tooltip" data-placement="right"  title="{% for error in form.new_password2.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                            <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                            <script> $(document).ready(function($) {
                                var $te = jQuery.noConflict();
                                $te('#imgerr-id_new_password2').tooltip({html:true});});</script>
                    {% endif %}
                </p>
                <p><input type="submit" value="" class="botCAMBIAR" /></p>
                </form>
        </div>


{% else %}


    <div class="alertaVENTANA" style="top:50px; left: 300px;">
        <div class="tituloALERTA">
          ACCESO INCORRECTO
        </div>

        <div class="textoALERTA">
        La dirección de cambio de contraseña es incorrecta, posiblemente es debido a que ya ha sido usada. <br>
        Por favor, solicite nuevamente el cambio de contraseña.
      </div>
            {% url 'admin_password_reset' as password_reset_url %}
      <div class="aceptarBTN" onclick="location.href='{{ password_reset_url }}'" style="left:150px;">
      </div>
    </div>

{% endif %}

{% endblock %}
