{% extends "admin/base_site.html" %}
{% load i18n admin_static%}
{% block extrastyle %}{{ block.super }}
    <link href="{% static "css/login.css"%}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
         <div id= "regresarBTN" onclick="window.history.go(-1);">
        </div>
    <div class="recuperarCon">
    </div>

        <div class="alertaVENTANA" style="top:100px; left: 300px;">
        <div class="alertaVENTANA_interna">
            <div class="tituloALERTA" align="center">
                E-MAIL ENVIADO
            </div>

            <div class="textoALERTA">
               Hemos enviado un e-mail a la direcci&oacute;n ingresada. Ah&iacute; encontrar&aacute; los pasos a seguir para recuperar su contrase&ntilde;a.
            </div>

            <div class="aceptarBTN" onclick="location.href='/admin'">
            </div>
        </div>
    </div>
{% endblock %}
