{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_urls %}
{% block extrastyle %}{{ block.super }}

{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div id="body">
   	    <div id= "regresarBTN" onclick="window.history.go(-1);"></div>
          <div id="welcome">C A T Á L O G O S</div>

          <div class="funcionarioCATALOGO" onclick="location.href='/visitas/catalogo-funcionarios'"></div>

          <div class="mediosCATALOGO" onclick="location.href='/visitas/catalogo-medios'"></div>

          <div class="actividadCATALOGO" onclick="location.href='/visitas/catalogo-tipoActividad'"></div>

          <div class="capitalizacionCATALOGO" onclick="location.href='/visitas/catalogo-capitalizacion'"></div>
    </div>


{% endblock %}
