{% load static %}
<fieldset class="module aligned wide {{ fieldset.classes }}" style="border: 0px;">
 <div class="datosCATALOGOS">
  <div id="tituloCUADROS">DATOS GENERALES</div>
   <p>&nbsp;</p><p>&nbsp;</p>
  {% for line in fieldset %}
  {% for field in line %}
      {% if field.field.name == "nombre_tipo_capitalizacion" %}

        <div class="row field-nombre_tipo_capitalizacion rowmod" style="border-bottom: 15px; padding-bottom: 10px;">
            <div class="col-md-6 colmod" align="left"><label id="label-fld" for="id_nombre_tipo_capitalizacion">
                <span class="error__msg">*</span>
                Nombre Tipo Capitalización:</label></div>

            <div class="col-md-6 colmod"><input class="vTextField" id="id_nombre_tipo_capitalizacion" maxlength="200" name="nombre_tipo_capitalizacion" type="text"
                                value="{{ field.field.value|default_if_none:"" }}"/>
            {% if field.field.errors %}
                             <img id="imgerr-{{ field.field.name }}" data-toggle="tooltip" data-placement="left"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}" src="{% static "assets/imagenes/iconoExclamacion.gif" %}" width="13px" height="13px">
                            <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                            <script> $(document).ready(function($) {
                                var $te = jQuery.noConflict();
                                $te('#imgerr-{{ field.field.name}}').tooltip({html:true});});</script>
                    {% endif %}
            </div>
            </div>
        {% endif %}

  {% endfor %}
   {% endfor %}
        </div>
</fieldset>


