{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

   <div id="regresarBTN" onclick="window.history.go(-1);">
   </div>

  <div id="welcome">
    	C O N S U L T A S
  </div>

  <div class="filtroCONSULTAS" onclick="location.href='/obras/consulta_filtros'">
  </div>

  <div class="predefinidaCONSULTAS" onclick="location.href='/obras/consulta_predefinidos'">
  </div>

 <div class="listaOBRA" onclick="location.href='/admin/obras/obra/'">
  </div>

{% endblock %}
