{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "assets/bootstrap/css/bootstrap.css"%}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "assets/graficas/highcharts/js/highcharts.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/highcharts-3d.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/highcharts-more.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/themes/grid-light.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/modules/exporting.js"%}"></script>




    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>


    <script type="text/javascript" src="{% static "assets/js/ajax-pagina-inicio.js"%}"></script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


      <div id="welcome">
    	B I E N V E N I D O
      </div>

      <div id="anioVISITAS">
      	<div id="anioTITULO">
        	Cargando gráfica...
        </div>
      </div>

      <div id="mapaVISITAS">
      	<div id="mapaTITULO">
        </div>
      </div>

        <div id="medioVISITAS00">
              <div id="medioVISITAS01">
                <div class="medio_TITULO">
                    Capitalización T.V.
                </div>

                <div class="medioNUM_DEF" id="medioTV">

                </div>
              </div>

              <div id="medioVISITAS02">
                <div class="medio_TITULO">
                    Capitalización Radio
                </div>

                <div class="medioNUM_DEF" id="medioRadio">

                </div>
              </div>

              <div id="medioVISITAS03">
                <div class="medio_TITULO">
                    Capitalización Periódico
                </div>

                <div class="medioNUM_DEF" id="medioPeriodico">

                </div>


              </div>

              <div id="medioVISITAS04">
                <div class="medio_TITULO">
                    Capitalización Internet
                </div>

                <div class="medioNUM_DEF" id="medioInternet">

                </div>
              </div>

              <div id="medioVISITAS05">
                <div class="medio_TITULO">
                    Capitalización Revistas
                </div>

                <div class="medioNUM_DEF" id="medioRevistas">

                </div>
              </div>

              <div id="medioICO01">
                </div>

                <div id="medioICO02">
                </div>

                <div id="medioICO03">
                </div>

                <div id="medioICO04">
                </div>

                <div id="medioICO05">
                </div>

        </div>


{% endblock %}
