{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "assets/bootstrap/css/bootstrap.css"%}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "assets/graficas/highcharts/js/highcharts.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/highcharts-3d.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/highcharts-more.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/themes/grid-light.js"%}"></script>
    <script src="{% static "assets/graficas/highcharts/js/modules/exporting.js"%}"></script>




    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript">
         google.maps.event.addDomListener(window, 'load', initialize);
         function initialize() {
          var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(22.6526121, -100.1780452),
              mapTypeId: google.maps.MapTypeId.SATELLITE
          }
          var map = new google.maps.Map(document.getElementById('mapaVISITAS'),
                                        mapOptions);

          //setMarkers(map, beaches);
        }
    </script>




    <script type="text/javascript" src="{% static "assets/js/ajax-pagina-inicio.js"%}"></script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

  	  <div id= "regresarBTN">
      </div>

      <div id="welcome">
    	B I E N V E N I D O
      </div>

      <div id="anioVISITAS">
      	<div id="anioTITULO">
        	Cargando gráfica...
        </div>
      </div>

      <div id="mapaVISITAS">
      	<div id="mapaTITULO">
        </div>
      </div>

      <div id="medioVISITAS01">
        <div class="medio_TITULO">
        	Apariciones en TV 2015
        </div>

        <div class="medioNUM_DEF" id="medioTV">
            <p>

            </p>
        </div>

        <div id="medioICO01">
        </div>
      </div>

      <div id="medioVISITAS02">
      	<div class="medio_TITULO">
        	Apariciones en Radio 2015
        </div>

        <div class="medioNUM_DEF" id="medioRadio">
        	<p>
            	12545
            </p>
        </div>

        <div id="medioICO02">
        </div>
      </div>

      <div id="medioVISITAS03">
        <div class="medio_TITULO">
        	Apariciones en Periódico 2015
        </div>

        <div class="medioNUM_DEF" id="medioPeriodico">
        	<p>
            	89101
            </p>
        </div>

        <div id="medioICO03">
        </div>
      </div>

      <div id="medioVISITAS04">
        <div class="medio_TITULO">
        	Apariciones en Internet 2015
        </div>

        <div class="medioNUM_DEF" id="medioInternet">
        	<p>
            	11121
            </p>
        </div>

        <div id="medioICO04">
        </div>
      </div>



{% endblock %}
