{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
     <!-- bxSlider Javascript file -->
    <script src="{% static "galeria/jquery.bxslider.min.js" %}"></script>
    <!-- bxSlider CSS file -->
    <link href="{% static "galeria/jquery.bxslider.css" %}" rel="stylesheet" />
    <link href="{% static "galeria/scripts.js" %}" rel="stylesheet" />

{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function($) {
      $('.bxslider').show();
      $("#galeria").show();
      $("#log").show();
  });
</script>


    <div id="galeria" hidden="true">
          <ul class="bxslider" style=" -webkit-padding-start:0px" hidden="true">
              <li><img src="{% static "img/FotoGalereria/002_gal.jpg" %}" /></li>
              <li><img src="{% static "img/FotoGalereria/001_gal.jpg" %}" /></li>
              <li><img src="{% static "img/FotoGalereria/003_gal.jpg" %}" /></li>
              <li><img src="{% static "img/FotoGalereria/004_gal.jpg" %}" /></li>
          </ul>
    </div>

        <!--<div class="botGAL">
        </div>-->

        <div id="log" hidden="true">
             <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            	<div class="titulo">
                 	Inicie sesión con su cuenta
                 </div>
                <div class="texto01">
                  <table  width="100%">
                    <tr>
                        <td align="left" width="40%" valign="top">
                            <label for="id_username" id="tit_1">
                                <span class="error__msg">*</span>
                                Usuario :
                            </label>
                         </td>
                        <td align="right" width="60%">
                            {{ form.username }}
                            <br><br>
                        </td>
                    </tr>
                  </table>
                </div>
                <div class="texto02">
                  <table width="100%">
                    <tr>
                        <td align="left" width="40%" valign="top">
                            <label for="id_password" id="tit_1">
                                <span class="error__msg">*</span>
                                Contraseña :</label>
                        </td>
                        <td align="right" width="60%">
                            {{ form.password }}
                            <br><br>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="justify">
                            {% if form.errors and not form.non_field_errors %}
                               <p class="error__msg">
                                    {% if form.errors.items|length == 1 %} {{"Campos marcados con (*) son obligatorios"}} {% else %}{{ "Campos marcados con (*) son obligatorios" }} {% endif %}
                                    <br>
                                </p>
                            {% endif %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="error__msg">
                                     {# error #}
                                    El Nombre de Usuario y/o la Contraseña son incorrectos; ambos campos son sensibles a mayúsculas.
                                </p>
                            {% endfor %}
                        {% endif %}
                         </td>
                     </tr>
                  </table>
                </div>
                        <div id="entrar" onclick="document.getElementById('login-form').submit();">
                         </div>
             </form>

                {% url 'admin_password_reset' as password_reset_url %}
                <div id="olvido" onclick="location.href='{{ password_reset_url }}'">
                </div>
		</div>

                <script src="{% static "galeria/jquery.bxslider.min.js" %}"></script>
                <script type="text/javascript">
                    document.getElementById('id_username').focus()
                    var $j = jQuery.noConflict()
                   $j(document).ready(function(){
                    $j('.bxslider').bxSlider({
                        auto: true,
                        mode: 'fade'
                      });
                   });
                </script>

{% endblock %}