
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "assets/css/menu.css" %}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

	<div id="regresarBTN" onclick="window.history.go(-1);">
    </div>

  <div id="welcome">
        A Y U D A
  </div>

  <div class="ayudaTEXTO" onclick="location.href='/visitas/manuales-Pdf'">
  </div>

  <div class="ayudaVIDEO" onclick="location.href='/visitas/videos'">
  </div>

{% endblock %}