<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}

        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}" style="left: 0px;">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                  {% if field.field.name == "tipo_actividad" %}
                              <div class="subtituloTABLA" style="width: 505px; height: 22px;">General</div>
                              <div class="contenidoTABLA2" style="width: 99px; height: 22px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-tipo_actividad">Tipo:</label></div>
                              <div class="contenidoTABLA2" style="width: 152px; height: 22px; left:101px; position: absolute;">{{ field.field }}</div>

                  {% elif field.field.name == "descripcion" %}

                              <div class="contenidoTABLA2" style="width: 99px; height: 22px; left:252px; top:24px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-descripcion">Descripción:</label></div>
                              <div class="contenidoTABLA2" style="width: 155px; height: 22px; left:352px; top:24px; position: absolute;">{{ field.field }}</div>

                  {% elif  field.field.name == "clasificacion" %}
                              <div class="contenidoTABLA2" style="width: 100px; height: 22px; top: 46px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-clasificacion">Clasificación:</label></div>
                              <div class="contenidoTABLA2" style="width: 152px; height: 22px; left:101px; top:46px; position: absolute;">{{ field.field }}</div>
                              <div class="contenidoTABLA2" style="width: 100px; height: 22px; left:253px; top:46px; position: absolute;"></div>
                              <div class="contenidoTABLA2" style="width: 155px; height: 22px; left:352px; top:46px; position: absolute;"></div>

                  {% elif field.field.name == "nombre" %}
                              <div class="subtituloTABLA" style="width: 252px; height: 22px; top:2px;">Participante Local Destacado</div>
                              <div class="contenidoTABLA2" style="width: 100px; height: 22px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-participantelocal_set-0-nombre">Nombre:</label></div>
                              <div class="contenidoTABLA2" style="width: 152px; height: 22px; left:100px; position: absolute;">{{ field.field }}</div>
                  {% elif field.field.name == "cargo" %}
                              <div class="contenidoTABLA2" style="width: 100px; height: 22px; top: 46px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-participantelocal_set-0-cargo">Cargo:</label></div>
                              <div class="contenidoTABLA2" style="width: 152px; height: 22px; left:100px; top:46px; position: absolute;">{{ field.field }}</div>
                  {% elif  field.field.name == "problematica_social" %}
                               <div class="subtituloTABLA" style="width: 252px; height: 22px; left:-4px; position: absolute;">Problemática Sociopolítica</div>
                              <div class="contenidoTABLA2" style="width: 252px; height: 22px; left:-4px; top:23px; position: absolute;">&nbsp;{{ field.field }}</div>
                              <div class="contenidoTABLA2" style="width: 252px; height: 22px; left:-4px; top:45px; position: absolute;">&nbsp;<br></div>
                  {% elif field.field.name == "medio" %}
                              <div class="subtituloTABLA" style="width: 495px; height: 32px;">Capitalización</div>
                              <div class="contenidoTABLA2" style="width: 118px; height: 36px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-capitalizacion_set-0-medio">Medio:</label></div>
                              <div class="contenidoTABLA2" style="width: 136px; height: 36px; left:117px; position: absolute;">{{ field.field }}</div>
                  {% elif field.field.name == "tipo_capitalizacion" %}
                              <div class="contenidoTABLA2" style="width: 157px; height: 36px; left:253px; top:34px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-capitalizacion_set-0-tipo_capitalizacion">Tipo:</label></div>
                              <div class="contenidoTABLA2" style="width: 89px; height: 36px; left:408px; top:34px; position: absolute;">{{ field.field }}</div>

                  {% elif  field.field.name == "nombre_medio" %}
                              <div class="contenidoTABLA2" style="width: 120px; height: 42px; top: 70px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-capitalizacion_set-0-nombre_medio" style="width:118px; padding-right: 0px;">Nombre del Medio:</label></div>
                              <div class="contenidoTABLA2" style="width: 134px; height: 42px; left:119px; top:70px; position: absolute;">{{ field.field }}</div>
                  {% elif  field.field.name == "cantidad" %}
                              <div class="contenidoTABLA2" style="width: 157px; height: 42px; left:253px; top:70px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-capitalizacion_set-0-cantidad" style="width:159px;padding-right: 0px;">Cantidad de Apariciones:</label></div>
                              <div class="contenidoTABLA2" style="width: 89px; height: 42px; left:408px; top:70px; position: absolute;">{{ field.field }}</div>
                  {% elif  field.field.name == "evidencia_grafica" %}
                              <div class="contenidoTABLA2" style="width: 120px; height: 37px; top: 110px; position: absolute;"><label class="contenidoTABLA" for="id_actividad_set-0-capitalizacion_set-0-evidencia_grafica" style="width:118px; padding-right: 0px;">Evidencia Gráfica:</label></div>
                              <div class="contenidoTABLA2" style="width: 350px; height: 37px; left:119px; top:110px; position: absolute;">{{ field.field }}</div>
                              <div class="contenidoTABLA2" style="width: 32px; height: 37px; left:465px; top:110px; position: absolute;"></div>


                  {% else %}
                        <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                                {{ field.label_tag }}
                                {% if field.is_readonly %}
                                    <p>{{ field.contents }}</p>
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                            {% endif %}
                            {% if field.field.help_text %}
                                <p class="help">{{ field.field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                 {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
